@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.cards-container{
    height: 38vh;
    width: 25vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    box-shadow: -.5vh .5vh 0 #000,
    .5vh .5vh 0 #000,
   .5vh -.5vh 0 #000,
  -.5vh -.5vh 0 #000;;
}


.card-top{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
}


.img-container{
    height: 40%;
    width: 90%;
    background-color: rgb(226, 202, 43);
    background-size: cover;
    display: flex;
    justify-content: center;
    border: .5vh solid rgb(129, 129, 129);
}

.moves-container{
    height: 40% ;
    width: 90%;
}

.pokemon-img {
    height: 100%;
    width: auto;
}

.card-name{
    height: 30px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-left: 0.5em;
}


.type{
    background-color: #C0C0C0;
    border-radius: 10px;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 2em;
    color: white;
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}

.move-row .type {
    width: 40%;

}

.type-container .type{
    padding: 0 1em;
    margin-left: 1em;
}

.type-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;

}