@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.moves-container{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
}

.move-name{
    background-color:#BEA9DF;
    border-radius: 10px;
    border: solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    width: 40%;
    font-weight: bold;
}


.move-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
