@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    font-family: 'Press Start 2P';
}

.battle-container{
    display: flex;
    flex-direction: row;
    width: 60vw;
    min-width: 60vh;
    height: 45vh;
    justify-content: space-between;
    align-items: center;
}
.details-container{
    height: 20vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.results-container{
    width: 60vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}