.nav-container {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    width: 100vw;
    font-size: 20px;
    background-color: white;
    height: fit-content;
}
.link {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-shadow: 4px 4px 10px black;
}

@media (max-width: 600px) {
    .link {
        font-size: 0.7rem;
    }
}
