@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
  font-family: 'Press Start 2P';
}


.App-header {
  background-color:black;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
  border-bottom: white solid .5vh;
  box-shadow: .5vh .5vh 0 black ;
}

.page-title{
  background-color: #da1b1b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

a{
  text-decoration: none;
}

#title-link{
  width: 100%;
  height: 50%;
}


main{
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
height: 90vh;
}
